$color-white: #FFF;
$color-black: #000;
$color-orange: #DF6C4F;
$color-biege: #E4A595;

$color-background: $color-white;
$color-text: $color-black;

$color-header-background: $color-orange;
$color-links: $color-orange;
$color-post-divider: $color-orange;

$color-post-info: $color-biege;
