img {
	max-width: 100%;
	height: auto;
	padding: 10px;
	display: block;
    margin: 0 auto;
}

a {
	color: $color-links;
	&:hover {
		color: darken($color-links, 10%);
		text-decoration: none;
	}
}

@for $index from 1 through 4 {
	h#{$index} {
		margin-top: 1em + 1/$index;
		font-family: $font-title;
		font-size: 2em + 1/$index;
	}
}

pre {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1em;
    border: 1px solid $color-orange;
}
