---
layout: default
---

<div id="posts">
    {% for post in site.posts %}
        {% if post.draft != null %}
            

            <div class="post" id="{{ post.Id | replace: '/', '_' }}">
                <div class="post-header row">
                    <div class="post-title col-sm-8">
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    </div>
                    <div class="post-date col-sm-4"><span>{% include date.html %}</span></div>
                </div>
                <div class="row">
                    <div class="comments col-sm-2"></div>
                    <div class="tags col-sm-6"></div>
                    <div class="categories col-sm-6"></div>
                </div>
                <div class="divider"></div>
                <div class="post-body">
                    {{ post.excerpt }}
                </div>
                <div>
                    {% include author.html %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<script>
    getCommentsCount()
</script>
