/*
*Variables:
*
*	<!--Variable name='comfortaa' description='default font' type='Font' default='Comfortaa'/-->
*	<Variable name="post.title.font" description="Font" type="font" default="Ubuntu, sans-serif"  value="Ubuntu, sans-serif"/>
*	<Variable name="post.body.font" description="Font" type="font" default="'Noto Sans', Helvetica, sans-serif"  value="&#39;Noto Sans&#39;, Helvetica, sans-serif"/>
*
*/

body {
    background: #EFEFEF;
}

h1.title {
    font-size: 64px;
    /*font-family: 'Ubuntu', sans-serif;*/
    /*font-family: 'Underdog', cursive;*/
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

p.description {
/*    font-family: 'Noto Sans', Helvetica, sans-serif;*/
    font-size: 18px;
    text-indent: 0px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #5b5b5b;
}

p {
    padding: 10px 0;
    text-align: justify;
    text-indent: 16px;
}

.post-title {
    padding: 20px 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    text-indent: 16px;
}

.post-title > a {
    color: #4c4c4c;
}

.post-body {
    font-family: 'Noto Sans', Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 27px;
}

.date-header {
    text-align: right;
}

.date-header > span {
    border-bottom: 2px solid #ababab;
    display: block;
}

.post-labels {
    margin-top: 20px;
    text-indent: 0px;
}

.post-label {
    background: #EFEFEF;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 14px;
    color: #999;
    padding: 2px;
    white-space: nowrap;
}

.post-label-outline {
    float: right;
    margin: 4px 0px;
}

.post-label-outline > a:hover {
    text-decoration: none;
}

.post-label-outline > a:hover .post-label {
    border: 1px solid black;
    color: black;
}

a.home-link {
    color: #8b8b8b;
    font-size: 32px;
    text-indent: 0px;
}

.jump-link {
    float: right;
    /*margin-top: -32px;*/
}

.jump-link > a {
    font-size: 24px;
    color: #8b8b8b;
    text-indent: 0px;
}

.share-btn {
    text-indent: 0px;
    font-size: 32px;
    color: #8b8b8b;
}

.post-comment-link {
    font-size: 24px;
}

.comments-count {
    font-size: 18px;
    position: relative;
    top: -1px;
}

.comment-link,
.comment-link:hover {
    color: #8b8b8b;
    text-decoration: none;
}

a:hover {
    color: black !important;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
}

.navbar {
    height: 100% !important;
    background: #f8f8f8;
    border-radius: 0px !important;
}

.widget.Label,
.widget.PageList {
    height: 0px;
    margin: 0px;
    padding: 0px;
}


/*
header {
    height: 150px;
}
*/

#header {
    margin: 0px;
    width: 100%;
    background: #f8f8f8;
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
}

#header-inner {
    margin-top: 20px;
}

.navbar-nav li a {
    color: #4c4c4c;
}

#main-menu {
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

#main-menu span {
    display: inline-block;
    padding: 15px;
    
    border-radius: 5px;
}

#main-menu .page {
    background: #ababab;
}

#main-menu .post {
    border: 2px dash #ababab;
}

#main-menu li {
    margin: 0px 15px 0px 0px;
}

#main-menu a {
    border-radius: 5px;
}


/*
.navbar-nav li.active a {
    color: black;
}
*/

.navbar-nav li.active {
    background: #f8f8f8;
    border-radius: 5px;
}

.affix-top .affix-title {
    opacity: 0;
    visibility: visible;
}

.affix .affix-title {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;
    -webkit-transition: opacity .3s ease-in-out;
}

.affix-title {
    float: left;
    margin: 10px 1%;
    font-size: 24px;
    opacity: 0;
    visibility: hidden;
    font-family: 'Ubuntu', sans-serif;
}


/*SIZES*/

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.pb-20 {
    padding-bottom: 20px;
}

.m-10 {
    margin: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.boxshadow {
    position: relative;
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
    background: white;
}