/*
*Variables:
*
*	<!--Variable name='comfortaa' description='default font' type='Font' default='Comfortaa'/-->
*	<Variable name="post.title.font" description="Font" type="font" default="Ubuntu, sans-serif"  value="Ubuntu, sans-serif"/>
*	<Variable name="post.body.font" description="Font" type="font" default="'Noto Sans', Helvetica, sans-serif"  value="&#39;Noto Sans&#39;, Helvetica, sans-serif"/>
*
*/


body {
    background: #EFEFEF;
    
}

p {
    padding: 10px 0;
    text-align: justify;
    text-indent: 16px;
}

.post-title {
    padding: 20px 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    text-indent: 16px;
}

.post-title > a {
    color: #4c4c4c;
}

.post-body {
    font-family: 'Noto Sans', Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 27px;
    
}

.date-header {
    text-align: right;
}

.date-header > span {
    border-bottom: 2px solid #ababab;
    display: block;
}

.post-labels {
    margin-top: 20px;
    text-indent: 0px;
}

.post-label {
    background: #EFEFEF;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 14px;
    color: #999;
    padding: 2px;
    white-space: nowrap;
}

.post-label-outline {
    float: right;
    margin: 4px -2px;
}

.post-label-outline > a:hover {
    text-decoration: none;
}

.post-label-outline > a:hover .post-label{
    border: 1px solid black;
    color: black;
}

a.home-link {
    color: #8b8b8b;
    font-size: 32px;
    text-indent: 0px;
}

.jump-link {
    float: right;
    /*margin-top: -32px;*/
}

.jump-link > a {
    font-size: 24px;
    color: #8b8b8b;
    text-indent: 0px;
}

.share-btn {
    text-indent: 0px;
    font-size: 32px;
    color: #8b8b8b;
}

.post-comment-link {
    font-size: 24px;
}

.comments-count {
    font-size: 18px;
    position: relative;
    top: -1px;
}

.comment-link, .comment-link:hover {
    color: #8b8b8b;
    text-decoration: none;
}

a:hover {
    color: black !important;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

/*SIZES*/

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.pb-20 {
    padding-bottom: 20px;
}

.m-10 {
    margin: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}


.boxshadow {
    position: relative;
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
    background: white;
}
