/*
*Variables:
*
*	<!--Variable name='comfortaa' description='default font' type='Font' default='Comfortaa'/-->
*	<Variable name="post.title.font" description="Font" type="font" default="Ubuntu, sans-serif"  value="Ubuntu, sans-serif"/>
*	<Variable name="post.body.font" description="Font" type="font" default="'Noto Sans', Helvetica, sans-serif"  value="&#39;Noto Sans&#39;, Helvetica, sans-serif"/>
*
*/

body {
    background: #EFEFEF;
    text-indent: 10px;
}

p {
    padding: 10px 0;
    text-align: justify;
}

.post-title {
    padding: 20px 0px;
    font-family: $(post.title.font);
    font-size: 32px;
    text-indent: 10px;
}

.post-body {
    font-family: $(post.body.font);
    font-size: 17px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 27px;
}

.date-header {
    text-align: right;
}

.date-header > span {
    border-bottom: 1px solid #EFEFEF;
    display: block;
}

.post-labels {
    margin-top: 20px;
    display: block;
}

.label {
    background: #EFEFEF;
    margin: 2px;
    border-radius: 2px;
    font-size: 14px;
}

.label > a {
    color: black;
}

/*SIZES*/

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.pb-20 {
    padding-bottom: 20px;
}

.m-10 {
    margin: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

/*.table {
    display: table;
    margin-bottom: 0px;
}

.table [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}*/

.boxshadow {
    position: relative;
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
    background: white;
}
