<script>
    /* variables */
    var disqusPublicAPIKey = "{{ site.disqus.api_publik_key }}";
    var disqusShortName = "{{ site.disqus.shortname }}";
    var disqusCommentsCount = [];
    var disqusPostIds = [];
    var disqusUrl = "{{site.disqus.url}}" + encodeURI(disqusShortName) + "&api_key=" + disqusPublicAPIKey;

    function getCommentsCount() {
        var getThreadUrl = disqusUrl;

        $.each(disqusPostIds, function(index, value) {
            getThreadUrl += "&thread:ident=" + encodeURI(value);
        });

        $.get(getThreadUrl).then(function(result) {
            $.each(result.response, function(index, value) {
                disqusCommentsCount[value.identifiers[0]] = value.posts;
            });
        });
    }

</script>
