{% if site.page-navigation.enabled %}
    <div class="post-nav">
        {% if page.previous.url %}
            <div class="col-sm-6">
                <a class="prev" href="{{page.previous.url}}">
                    {% if site.page-navigation.show-pointers %}
                        <span "pointer">
                            {{site.page-navigation.previous.pointer}}
                        </span>
                    {% endif %}
                    {% if site.page-navigation.show-labels %}
                        <span class="nav-label">
                            {{site.page-navigation.previous.label}}
                        </span>
                    {% endif %}
                    {% if site.page-navigation.show-page-titles %}
                        <span class="title">
                            {{page.previous.title}}
                        </span>
                    {% endif %}
                </a>
            </div>
        {% endif %}

        {% if page.next.url %}
            <div class="col-sm-6">
                <a class="next" href="{{page.next.url}}">
                    {% if site.page-navigation.show-labels %}
                        <span class="nav-label">
                            {{site.page-navigation.next.label}}
                        </span>
                    {% endif %}
                    {% if site.page-navigation.show-page-titles %}
                        <span class="title">
                            {{page.next.title}}
                        </span>
                    {% endif %}
                    {% if site.page-navigation.show-pointers %}
                        <span "pointer">
                            {{site.page-navigation.next.pointer}}
                        </span>
                    {% endif %}
                </a>
            </div>
        {% endif %}
    </div>
{% endif %}
