{% if post %}
  {% assign article_date = post.date %}
{% else %}
  {% assign article_date = page.date %}
{% endif %}

{% assign m = article_date | date: "%-m" %}
{{ article_date | date: "%-d" }}
{% case m %}
  {% when '1' %}Января
  {% when '2' %}Февраля
  {% when '3' %}Марта
  {% when '4' %}Апреля
  {% when '5' %}Мая
  {% when '6' %}Июня
  {% when '7' %}Июля
  {% when '8' %}Августа
  {% when '9' %}Сентября
  {% when '10' %}Октября
  {% when '11' %}Ноября
  {% when '12' %}Декабря
{% endcase %}
{{ article_date | date: "%Y" }}
