/*
    Variables
*/


/* Basic colors */

$regular-text-color: #000;
$regular-background-color: #fff;
$outside-background-color: #e4e4e4;

/* Blockqoute color palette */

$blockquote-text-color: #5b6770;
$blockquote-background-color: #eff0f4;
$blockquote-border-color: #c7cbd0;
$blockquote-sign-color: #5b6770;

/*#b1b7bc;*/


/* Basic configuration */

$font-size: 18px;
$break-phone: 768px;
$break-tablets: 1200px;
@mixin respond-to($media) {
    @if $media==phones {
        @media only screen and (max-width: $break-phone - 1) {
            @content;
        }
    }
    @else if $media==tablets {
        @media only screen and (min-width: $break-phone) and (max-width: $break-tablets - 1) {
            @content;
        }
    }
    @else if $media==desktops {
        @media only screen and (min-width: $break-tablets) {
            @content;
        }
    }
}

body {
    font-size: $font-size;
    padding-bottom: 5em;
    @include respond-to(phones) {
        font-size: $font-size - 2;
    }
    p {
        text-align: justify;
    }
    h1 {
        font-size: 2em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    h2 {
        font-size: 1.75em;
    }
    h3 {
        font-size: 1.5em;
    }
    background: $outside-background-color;
    blockquote {
        font-size: $font-size;
        font-family: $font-blockquote-text;
        border-left: 5px solid $blockquote-border-color;
        border-right: 1px solid $blockquote-border-color;
        border-bottom: 1px solid $blockquote-border-color;
        border-top: 1px solid $blockquote-border-color;
        background-color: $blockquote-background-color;
        color: $blockquote-text-color;
        em {
            color: $blockquote-sign-color;
            text-align: right;
            display: block;
            font-family: $font-blockquote-sign;
            font-style: normal;
        }
    }
}

.blog {
    color: $regular-text-color;
    background: $regular-background-color;
    line-height: 1.75em;
    font-family: $font-noto-sans;
}
