@import url('https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Rubik&subset=cyrillic');

$font-comfortaa: 'Comfortaa', cursive;
$font-ubuntu: 'Ubuntu', sans-serif;
$font-noto-sans: 'Noto Sans', Helvetica, sans-serif;
$font-rubik: 'Rubik', sans-serif;

$font-title: $font-comfortaa;
$font-description: $font-rubik;
