@import url('https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Rubik&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');

$font-comfortaa: 'Comfortaa', cursive;
$font-ubuntu: 'Ubuntu', sans-serif;
$font-noto-sans: 'Noto Sans', Helvetica, sans-serif;
$font-rubik: 'Rubik', sans-serif;
$font-bad-script: 'Bad Script', cursive;
$font-marck-script: 'Marck Script', cursive;

$font-title: $font-comfortaa;
$font-description: $font-rubik;
$font-blockquote-sign: $font-marck-script;
$font-blockquote-text: $font-bad-script;
