footer {
    @include respond-to(tablets) {
		@extend %shadow-box;
	}
	@include respond-to(desktops) {
		@extend %shadow-box;
	}
    border-radius: 0px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-height: 4em;
    max-height: 5em;
    background-color: $regular-background-color;
    padding-top: 1em;
    padding-bottom: 1em;
    #disclaimer {
        font-size: 0.6em;
    }
}
