header {
    #site-title {
        @extend %text-center;
        @include respond-to(phones) {
            font-size: 1.75em;
            margin-top: 0.3em;
            margin-bottom: 0.3em;
        }
        @include respond-to(tablets) {
            font-size: 1.75em;
            margin-top: 0.3em;
            margin-bottom: 0.3em;
        }
        @include respond-to(desktops) {
            font-size: 2.5em;
            margin-top: 1em;
            margin-bottom: 0.5em;
        }
        @include respond-to(wide-screens) {
            font-size: 2.5em;
            margin-top: 1em;
            margin-bottom: 0.5em;
        }
        font-family: $font-title;
    }
    #site-description {
        @extend %text-center;
        font-family: $font-description;
    }
}
