.post {
    @extend %shadow-box;
    margin: 2em 0em;
    padding: 1em 2em;
    background-color: $regular-background-color;
    p {
        text-indent: 1em;
    }
    .author {
        @extend %block-right;
        color: $post-author-sign-color;
    }
    .post-date {
        @extend .author;
    }
}

#posts{
    .post{
        @extend .post;

        .post-date {
            @extend h2
            color: $regular-text-color;
        }
    }
}
