.post {
    border-bottom: 2px solid lighten($color-post-divider, 50%);
    padding-bottom: 1em;
    .header {
        .title {
            margin-top: 1em;
            margin-bottom: 0px;
        }
        .post-subtitle {
            font-family: $font-title;
            font-size: 1.3em;
            color: $color-post-info;
            margin-bottom: 1em;
            &.single{
                color: lighten($color: #000000, $amount: 50%);
            }
        }
        .info {
            font-size: 0.75em;
            margin-bottom: 2em;
            color: $color-post-info;
            a {
                color: $color-post-info;
                text-decoration: underline;
                text-decoration-style: dashed;
                &:hover {
                    color: darken($color-post-info, 30%);
                }
            }
            span {
                padding-right: 5px;
            }
            .comments {
                a {
                    &.disqus-comments-count:before {
                        content: "\f075";
                        font-family: $font-fontawesome;
                        display: inline-block;
                        margin-right: 2px;
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
    .body {
        .read-more {
            padding-left: 0.5em;
            display: block;
            text-align: right;
        }
    }
    .post-nav {
        padding: 2em 0;
        @include respond-to(desktops) {
            padding: 4em 0;
        }
        .prev {
            text-align: left;
        }
        .next {
            text-align: right;
        }
    }
}
